auraloss==0.4.0
cn2an==0.5.23
ddgs==9.10.0
einops==0.8.2
eunjeon==0.4.0
exllamav3==0.0.20
fastapi==0.128.0
faster_whisper==1.2.1
ffmpeg==1.4
flash_attn==2.8.3
funasr==1.3.1
g2p_en==2.1.0
g2pk2==0.0.3
gradio==6.4.0
gruut==2.4.0
huggingface_hub==1.3.4
inflect==7.5.0
jamo==0.4.1
jieba==0.42.1
jieba_fast==0.53
kbnf==0.4.2
ko_pron==1.3
librosa==0.11.0
marisa_trie==1.3.1
matplotlib==3.10.8
modelscope==1.34.0
mysql_connector_repackaged==0.3.1
nltk==3.9.2
nnAudio==0.3.4
numpy==2.4.1
onnxruntime==1.23.2
opencc==1.2.0
packaging==26.0
pandas==3.0.0
peft==0.18.1
pesq==0.0.4
Pillow==12.1.0
psutil==7.2.1
pydantic==2.12.5
pynvml==13.0.1
pyopenjtalk==0.4.1
pypinyin==0.55.0
PyQt5==5.15.11
pytorch_lightning==2.6.0
pytz==2025.2
PyYAML==6.0.3
regex==2026.1.15
Requests==2.32.5
rich==14.3.1
scipy==1.17.0
soundfile==0.13.1
spaces==0.47.0
split_lang==2.1.1
tabulate==0.9.0
ToJyutping==3.2.0
tokenizers==0.22.2
torchaudio==2.10.0
torchmetrics==1.8.2
tqdm==4.67.1
typeguard==4.4.4
typing_extensions==4.15.0
uvicorn==0.40.0
whisper==1.1.10
wordsegment==1.3.1
x_transformers==2.14.2
